.form-error{
    text-align: center;
}

.form-success{
    text-align: center;
}

.form {
    max-width: 540px;
    margin: auto;
}

.form-btns_delete {
    margin-left: auto;
}

.edit-deck-form, .add-deck-form {
    display: none;
}

.show-form{
    display: block;
}