@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


:root{
    --tufts-blue: #228CDB;
    --royal-blue: #2A2A72;
    --raisin-black: #232528;
    --alice-blue: #EAF6FF;
    --white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

.wrapper{
    width: 95%;
    margin: auto;
}
html{
    position: relative;
    min-height: 100%;
    background: var(--alice-blue);
}

body{
    background-color: var(--alice-blue);
}

.main {
    margin: 30px auto;
}

.list-group{
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.deck-list {
    max-width: 540px;
    margin: auto;
}

h1{
    font-size: 2.5rem;
}

h4{
    margin: 50px 0px 50px 0px;
}

.function-group h5{
    color: white;
    font-weight: 400;
    font-size: 1rem;    
}
